# <font color=blue>Assignments for "Main Statistical Concepts"</font>

Please upload your solutions to the following assignments as Jupyter Notebook to your GitHub account and share the GitHub link with the button below. You can talk to your mentor about the issues you have in mind or ask Slack at office time.

1. Analyze the central tendency and distribution measurements with the mathematical formula given above and the built-in codes available in python through 3 different data that you will generate using the numpy library !!!

In [16]:
import pandas as pd
import numpy as np

df = pd.DataFrame()
df['Gender'] = ['male'] * 100 + ['female'] * 100
df['Age'] = np.random.randint(25,65, size=200)
df['Salary'] = np.append(np.random.normal(50000, 10, 100), np.random.normal(80000, 20, 100))

In [17]:
## Info about the structure of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  200 non-null    object
 1   Age     200 non-null    int32
 2   Salary  200 non-null    float64
dtypes: float64(1), int32(1), object(1)
memory usage: 4.0+ KB

In [18]:
##  Info about first five lines
df.head()

  Gender  Age        Salary
0   male   44  49994.832691
1   male   52  50007.579440
2   male   49  50004.097463
3   male   25  50005.637348
4   male   45  49992.175713

In [19]:
## The mean of height
df.Salary.mean()

64999.76278353076

In [20]:
### The standard deviation of height
df.Age.std()

11.988231247444766

In [21]:
print(np.mean(df.Age))
print(np.var(df.Salary))
print(np.std(df.Age))

43.47
224946391.97897384
11.958223112151739

In [22]:
import statistics
print(statistics.median(df['Age']))         #pythonun built in fonk ile  mean alma.

print(np.median(df['Age']))                 #numpy ile mean alma.

43.5
43.5

In [23]:
import statistics
statistics.mode(df['Age'])         #pythonun built in fonk ile  mode alma.

26

In [25]:
(values, counts) = np.unique(df['Age'], return_counts=True)   

ind = np.argmax(counts)

values[ind]

26